#game-scene {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    #background {
        flex: 1;
        max-height: calc(100% - 120px);
        object-fit: cover;
        border-radius: 10px;
    }

    #dialog-box {
        width: 100%;
        height: 100px;
        background-color: #111;
        color: #fff;
        overflow: hidden;
        border-radius: 10px;
        padding: 10px;
        margin-top: 10px;
    }
}